{%- extends "base.html" %}
{% set active_page = "history" %}

{% block content %}
<div class="container">
  <nav aria-label="history-pagination">
    <ul class="pagination float-right">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="/history/?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="/history/?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="/history/?page=3">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th>Initiated</th>
        <th>Id</th>
        <th class="col-md-6">Description</th>
        <th>Requests</th>
      </tr>
    </thead>
    <tbody>
      {%- for suite in suites %}
      <tr>
        <td>{{ suite['initiated'][:19] }}</td>
        <td><a href="/suite_view/{{ suite['uuid'] }}">{{ suite['uuid'][:8]}}</a></td>
        <td>{{ suite['description'] }}</td>
        <td>{{ suite['requests'] }}</td>
      <tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{%- endblock %}
