{%- extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='c3.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='c3.css') }}">
<script type="text/javascript">
    $.ajax({
      url: "/suite_time_data/{{ suite_uuid }}",
      dataType: "json"
    }).done(function(jsonData) {

      // create arrays holding the data series
      var ok = ['ok']
      var error = ['error']
      var duration = ['duration']

      for (var itr in jsonData) {
        duration.push(jsonData[itr][0].toFixed(2));
        ok.push(jsonData[itr][1]);
        error.push(jsonData[itr][2]);
      }

      var chart = c3.generate({ 
        bindto: "#line_chart_div",
        data: {
          x: 'duration',
          columns: [
            duration,
            ok,
            error
          ],
          type: 'spline'
        },
        point: {
          show: false
        }
      });
    });
</script>
{%- endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Total Requests</th>
      <th>Ok</th>
      <th>Error</th>
      <th>Requests/s<th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ requests }}</td>
      <td id="ok"></td>
      <td id="error"></td>
      <td id="request_rate"></td>
    </tr>
  </tbody>
</table>
<div id="line_chart_div"></div>

{%- endblock %}
