{%- extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='c3.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='c3.css') }}">
<script type="text/javascript">
    $.ajax({
      url: "/suite_time_data/{{ suite_uuid }}",
      dataType: "json"
    }).done(function(jsonData) {

      // create arrays holding the data series
      var ok = ['ok']
      var error = ['error']
      var duration = ['duration']

      for (var itr in jsonData) {
        duration.push(jsonData[itr][0].toFixed(2));
        ok.push(jsonData[itr][1]);
        error.push(jsonData[itr][2]);
      }

      var chart = c3.generate({ 
        size: {
          height: 400,
          width: 500
        },
        bindto: "#line_chart_div",
        data: {
          x: 'duration',
          columns: [
            duration,
            ok,
            error
          ],
          type: 'spline'
        },
        axis: {
          x: {
            label: 'seconds',
            tick: { 
              fit: true,
              culling: {
                max: 5
              }
            }
          }
        },
        point: {
          show: false
        }
      });
    });
</script>
<script type="text/javascript">
    $.ajax({
      url: "/avg_time/{{ suite_uuid }}",
      dataType: "json"
    }).done(function(jsonData) {

      // create arrays holding the data series
      var avg = ['avg']
      var duration = ['duration']

      for (var itr in jsonData) {
        duration.push(jsonData[itr][0].toFixed(2));
        avg.push(jsonData[itr][1].toFixed(6));
      }

      var chart = c3.generate({ 
        size: {
          height: 400,
          width: 500
        },
        bindto: "#avg_chart_div",
        data: {
          x: 'duration',
          columns: [
            duration,
            avg
          ],
          type: 'spline'
        },
        axis: {
          x: {
            label: 'seconds',
            tick: { 
              fit: true,
              culling: {
                max: 5
              }
            }
          }
        },
        point: {
          show: false
        }
      });
    });
</script>

{%- endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Total Requests</th>
      <th>Ok</th>
      <th>Error</th>
      <th>Requests/s<th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ requests }}</td>
      <td id="ok"></td>
      <td id="error"></td>
      <td id="request_rate"></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-6">
    <p><strong>Request percentages</strong></p>
  </div>
  <div class="col-md-6">
    <p><strong>Average response time (ms)</strong></p>
  </div>
</div>
<div class="row">
  <div id="line_chart_div">
  </div>
  <div class="col-md-1"></div>
  <div id="avg_chart_div"></div>
</div>

{%- endblock %}
